
/* ===============================
   RESPONSIVE MENU STYLES
   =============================== */

.dl-menuwrapper {
	width: 100%;
	height: 34px;
	max-width: 300px;
	float: right;
	position: relative;
	top: -4px;
	z-index: 9999;
	-webkit-perspective: 1000px;
	-moz-perspective: 1000px;
	perspective: 1000px;
	-webkit-perspective-origin: 50% 200%;
	-moz-perspective-origin: 50% 200%;
	perspective-origin: 50% 200%;
}

.dl-menuwrapper button {
	float: right;
	background: #fff;
	border: none;
	width: 40px;
	height: 40px;
	text-indent: -900em;
	overflow: hidden;
	position: relative;
	cursor: pointer;
	outline: none;
	padding: 0;
}

.dl-menuwrapper button:after {
	content: '';
	position: absolute;
	width: 60%;
	height: 3px;
	background: #c7c7c7;
	top: 14px;
	left: 0;
	box-shadow: 0 6px 0 #c7c7c7, 0 12px 0 #c7c7c7;
}

.dl-menuwrapper button:hover:after {
	background: #B8B8B8;
	box-shadow: 0 6px 0 #B8B8B8, 0 12px 0 #B8B8B8;
}

.dl-menuwrapper .dl-menu {
	position: absolute;
	top: 1px;
	width: 250px;
	opacity: 0;
	pointer-events: none;
	-webkit-transform: translateX(10px);
	-moz-transform: translateX(10px);
	transform: translateX(10px);
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
}

.dl-menuwrapper .dl-menu.dl-menu-toggle {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.dl-menuwrapper .dl-menu.dl-menuopen {
	padding: 9px 0;
	margin: 0;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	opacity: 1;
	pointer-events: auto;
	-webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
	-webkit-transform: translateX(10px);
	-moz-transform: translateX(10px);
	transform: translateX(10px);
}



