{% extends "layout.twig" %}

{% block content %}

<div class="content">

<header>
    <div class="wrapper">
        <div class="res-col columns span-thirds">
            <div class="column span-third">
                <h1><img src="{{asset('/images/logo.png')}}"></h1>
            </div>
            <div class="column span-third">
                <nav>
                    <ul>
                        <li><a href="/" class="selected">Tour</a></li>
                        <li><a href="/pricing">Pricing</a></li>
                        <li><a href="https://basekit.zendesk.com">Support</a></li>
                    </ul>
                </nav>
            </div>
            <div class="column span-third">
                <ul class="user-btns">
                    <li><a href="/pricing" class="btn pink">Signup</a></li>
                    <li><a href="/login" class="btn navy">Login</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>

<section class="feature">
    <div class="wrapper">
        <h2>A simple, powerful website creator</h2>
        <h3>Skip the technical stuff and cut straight to getting your own unique site published now.</h3>
        <div id="tab-slider">
            <div class="button-tabs">
                <a href="#" class="selected">Drag &amp; Drop</a>
                <a href="#">Domains</a>
                <a href="#">Colours &amp; Fonts</a>
            </div>
        </div>
        <img src="{{asset('/images/feature-graphic.png')}}"> 
    </div>
</section>

<!-- INTRO !-->
<section class="intro">
    <div class="wrapper">
        <div class="intro-blocks">
            <div class="res-col columns span-thirds">
                <div class="column span-third">
                    <div class="line-block pad-top">
                        <h2>Publish a free site</h2>
                        <h3>Publish the first page of your website free. No initial payment or credit card required.</h3>
                    </div>
                </div>
                <div class="column span-third">
                    <div class="pad-top">
                        <h2>Use any domain name</h2>
                        <h3>Your website will work with any domain you already own - or you can buy one from us.</h3>
                    </div>
                </div>
                <div class="column span-third">
                    <div class="line-block pad-top">
                        <h2>Expert Support</h2>
                        <h3>Have a question? Our team of experts will be happy to help with your request.</h3>
                    <div>
                </div>
            </div>
        <!-- SPARE DIV !-->
        </div>
        </div>
        <!-- SIGNUP BAR !-->
        <div class="signup-bar">
            <a href="/pricing" class="btn pink lrg">Signup Free</a>
            <span>or, see our <a href="/pricing">pricing list</a></span>
        </div>

    </div>
</section>

<!-- DESIGNS / DEVICES !-->
<section class="designs-devices">
    <div class="res-col columns span-50-50">
        <div class="column span-50">
            <!-- DESIGNS !-->
            <section class="grey designs">
                <div class="wrapper sml">
                    <h2 class="wht-shad">Fresh, professional designs</h2>
                    <h3 class="wht-shad">Our professional designers are adding new designs every 2 weeks. <br>Keep your site fresh by changing to a new design at any point.</h3>
                    <div class="template-slider">
                        <div class="controls">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <div class="slides">
                            <div class="slide one"></div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="column span-50">
            <!-- DEVICES !-->
            <section class="devices">
                <div class="wrapper sml">
                    <h2 class="pink">Mobile &amp; tablet site included</h2>
                    <h3 class="white">Our professional designers are adding new designs every 2 weeks. <br>Keep your site fresh by changing to a new design at any point.</h3>
                </div>

                <div class="tabs color2 stack effect4">
                    <!--TAB 1-->
                    <input type="radio" name="tabs" checked id="tab1" class="content1">
                    <label for="tab1" style='border-left: 0'>
                    <span>
                    <span>
                    Electricity
                    </span>
                    </span>
                    </label>
                    <!--TAB 2-->
                    <input type="radio" name="tabs" id="tab2" class="content2">
                    <label for="tab2">
                    <span>
                    <span>
                    da Vinci
                    </span>
                    </span>
                    </label>
                    <!--CONTENT-->
                    <ul>
                        <!--TAB 1-->
                        <li class="content1">
                            <div>
                                <h1>Summary</h1>
                                <p>
                                    Electricity is the set of physical phenomena associated with the presence and flow of electric charge. Electricity gives a wide variety of well-known effects.
                                </p>
                            </div>
                        </li>
                        <!--TAB 2-->
                        <li class="content2">
                            <div>
                                <h1>Other</h1>
                                <p>
                                    Leonardo da Vinci was an Italian Renaissance polymath: painter, sculptor, architect, musician, mathematician, engineer, inventor, anatomist, geologist.
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>

            </section>
        </div>
    </div>
</section>

<!-- WIDGETS - WEBSITE !-->
<section class="widgets-website">
    <div class="res-col columns span-50-50">
        <div class="column span-50">
            <!-- WIDGETS !-->
            <section class="widgets">
                <div class="wrapper sml">
                    <h2>One site, every widget possible.</h2>
                    <h3>A wide range of widgets available for you to choose from - simply drag &amp; drop them anywhere on your site.</h3>

                    <!-- WIDGET BLOCKS !-->
                    <ul class="widget-blocks">

                        <!-- PINK ROW !-->
                        <li class="pink maps">
                            <span>Google Maps</span>
                        </li>
                        <li class="pink gallery">
                            <span>Image Gallery</span>
                        </li>
                        <li class="pink form">
                            <span>Contact Form</span>
                        </li>

                        <!-- NAVY ROW !-->
                        <li class="navy slideshow">
                            <span>Slideshow</span>
                        </li>
                        <li class="navy columns">
                            <span>Columns</span>
                        </li>
                        <li class="navy nav">
                            <span>Navigation</span>
                        </li>

                        <!-- BLUE ROW !-->
                        <li class="blue facebook">
                            <span>Facebook</span>
                        </li>
                        <li class="blue twitter">
                            <span>Twitter</span>
                        </li>
                        <li class="blue">
                            <div class="view-all">
                                <a href="#">View All</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </section>
        </div>
        <div class="column span-50">
            <!-- WEBSITE !-->
            <section class="website grey">
                <div class="wrapper sml">
                    <h2 class="wht-shad">Setup a website in minutes</h2>
                    <h3 class="wht-shad">Lorem ipsum dolor sit amet, consectetur, adipisicing eiusmod tempor incididunt ut labore— et dolore ma.</h3>
                    <div class="video-block">
                        <img src="{{asset('/images/video.png')}}"> 
                        <a href="#" class="text-link">Watch the video tour</a>
                    </div>
                    <div class="divider"></div>
                    <ul>
                        <li>
                            <h4>A site that grows with you</h4>
                            <p>Start with a small site and grow it when the time is right for you. Add more pages, drop-down menus and additional content at anytime.</p>
                        </li>
                        <li>
                            <h4>Easy publishing</h4>
                            <p>Publishing your site takes just two clicks. There are no extra steps to make your site ready for mobile phones and tablets.</p>
                        </li>
                    </ul>
                </div>
            </section>
        </div>
    </div>
</section>

<!-- SIGNUP BAR !-->
<div class="signup-bar">
    <a href="/pricing" class="btn pink lrg">Signup Free</a>
    <span>or, see our <a href="/pricing">pricing list</a></span>
</div>

<!-- QUICK SIGNUP !-->
<section class="quick-signup grey">
    <div class="wrapper">
        <form>
            <fieldset>
                <div class="inputset">
                    <label for="name">Full Name</label>
                    <input type="text" placeholder="Enter your full name">
                </div>
                <div class="inputset">
                    <label for="email">Email</label>
                    <input type="text" placeholder="Enter your email address">
                </div>
                <div class="inputset">
                    <label for="password">Password</label>
                    <input type="text" placeholder="Enter a password">
                </div>
                <input type="submit" class="form-submit">
            </fieldset>
        </form>
    </div>
</section>

<!-- FOOTER !-->
<footer class="clearfix">
    <div class="wrapper">
        <div class="footer-left">
            <ul>
                <li><p>© Sitejam {{ "now"|date("Y") }}.</p></li>
                <li><a href="/">Tour</a></li>
                <li><a href="/pricing">Pricing</a></li>
                <li><a href="https://basekit.zendesk.com">Support</a></li>
                <li><a href="/login" class="login">Login</a></li>
                <li><a href="/pricing" class="signup">Signup</a></li>
            </ul>
        </div>
        <div class="footer-right">
            <ul>
                <li><a href="/privacy">Privacy</a></li>
                <li><a href="/termsandconditions">Terms &amp; Conditions</a></li>
                <li><a href="https://twitter.com/share" class="twitter-share-button" data-dnt="true" data-count="none" data-via="twitterapi">Tweet</a></li>
            </ul>
        </div>
    </div>
</footer>

<!-- CONTENT END !-->
</div>













{% endblock %}
