{% extends "layout.twig" %}

{% block content %}

<div class="login-signup">

<div class="form-wrapper form-login">
    <div class="form-pos">
        <a href="/"><img src="{{asset('/images/logo-wht.png')}}"></a>
        {{widget('userlogin', 'userlogin1', {})|raw}}
        <p class="clearfix"><a href="/sign-up" class="signup-btn">Don't have an account? Signup here!</a></p>
        <p><a href="/forgotten-password">Forgot your password?</a></p>
    </div>
</div>

</div>

{% endblock %}