{% extends "layout.twig" %}

{% block content %}

<div class="login-signup">

<div class="w-container container-login">
    <a href="/" class="logo-wht"><img src="{{asset('/images/logo-wht.png')}}"></a>
    {{widget('userlogin', 'userlogin1', {})|raw}}
    <p>Don't have an account? <a href="/sign-up">Signup here.</a></p>
</div>

</div>

{% endblock %}