{% extends "layout.twig" %}

{% block content %}

<div class="content">

<header class="clearfix">
    <div class="wrapper">
        <div class="left">
            <h1><a href="/" title="Create a website"><img src="{{asset('/images/logo.png')}}"></a></h1>
        </div>
        <nav class="nav-desktop">
            <ul>
                <li><a href="/" class="selected">Tour</a></li>
                <li><a href="/pricing">Pricing</a></li>
            </ul>
        </nav>
        <nav class="nav-mob">
            <div id="dl-menu" class="dl-menuwrapper">
                <button class="dl-trigger dl-active">Open Menu</button>
                <ul class="dl-menu">
                    <li><a href="/" class="selected">Tour</a></li>
                    <li><a href="/pricing">Pricing</a></li>
                </ul>
            </div>
        </nav>
        <div class="right clearfix">
            <ul class="user-btns">
                <li><a href="/signup" class="btn pink signup">Signup</a></li>
                <li><a href="/login" class="btn navy login">Login</a></li>
            </ul>
        </div>
    </div>
</header>

<section class="feature title-bar">
    <div class="wrapper">
        <h2>Get a great site at a great price</h2>
        <h3>No hidden extras or sneaky up-sells. <span>14 day money-back</span> guarantee.</h3>

        <!-- PRICING TABLE !-->
        <section class="pricing-table">
            <div class="res-col columns span-30-31-30">
                <div class="column span-three-left">
                    <!-- LAUNCH !-->
                    <article class="price-block">
                        <h3>Launch Plan</h3>
                        <h4 class="grey-blue">&pound;0<span>/month</h4>
                        <a href="/signup" class="btn blue solid">launch now</a>
                    </article>
                </div>
                <div class="column span-three-middle">
                    <!-- BASIC !-->
                    <article class="price-block">
                        <h3>Basic Plan</h3>
                        <h4 class="white">&pound;7<span>/month</h4>
                        <a href="/signup" class="btn blue solid">GO BASIC</a>
                    </article>
                </div>
                <div class="column span-three-right">
                    <!-- BUSINESS !-->
                    <article class="price-block business">
                        <div class="most-popular">FREE DOMAIN INCLUDED</div>
                        <h3>Business Plan</h3>
                        <h4 class="pink">&pound;12 <span>/month</h4>
                        <a href="/signup" class="btn pink solid">GO BUSINESS</a>
                    </article>
                </div>
            </div>
        </section>
    </div>
</section>

<!-- PRICING CONTENT !-->
<section class="pricing-content">
    <div class="wrapper">
        <div class="res-col columns span-30-31-30">
            <div class="column span-three-left">
                <!-- LAUNCH !-->
                <article class="price-content">
                    <ul>
                        <li><i class="fa fa-check"></i>5 Templates</li>
                        <li><i class="fa fa-check"></i>1 page</li>
                        <li><i class="fa fa-check"></i>100 Mb storage</li>
                        <li><i class="fa fa-check"></i>Image editing</li>
                        <li class="out"><i class="fa fa-times"></i>Free stock images</li>
                        <li class="out"><i class="fa fa-times"></i>PayPal button</li>
                        <li class="out"><i class="fa fa-times"></i>Free custom domain</li>
                        <li class="out"><i class="fa fa-times"></i>Email address</li>
                    </ul>
                </article>
            </div>
            <div class="column span-three-middle">
                <!-- BASIC !-->
                <article class="price-content">
                    <ul>
                        <li><i class="fa fa-check"></i>15 Templates</li>
                        <li><i class="fa fa-check"></i>10 pages</li>
                        <li><i class="fa fa-check"></i>250 Mb storage</li>
                        <li><i class="fa fa-check"></i>Image editing</li>
                        <li><i class="fa fa-check"></i>1 Free Stock Images</li>
                        <li class="out"><i class="fa fa-times"></i>PayPal button</li>
                        <li class="out"><i class="fa fa-times"></i>Free custom domain</li>
                        <li class="out"><i class="fa fa-times"></i>Email address</li>
                    </ul>
                </article>
            </div>
            <div class="column span-three-right">
                <!-- BUSINESS !-->
                <article class="price-content">
                    <ul>
                        <li><i class="fa fa-check"></i>37 Templates</li>
                        <li><i class="fa fa-check"></i>Unlimited pages</li>
                        <li><i class="fa fa-check"></i>Unlimited storage</li>
                        <li><i class="fa fa-check"></i>Image editing</li>
                        <li><i class="fa fa-check"></i>3 Free stock images</li>
                        <li><i class="fa fa-check"></i>PayPal button</li>
                        <li><i class="fa fa-check"></i>Free WWW domain name</li>
                        <li><i class="fa fa-check"></i>1 Email address</li>
                    </ul>
                </article>
            </div>
        </div>
    </div>
</section>

<!-- INTRO !-->
<section class="intro">
    <div class="wrapper">
        <div class="intro-blocks">
            <div class="res-col columns span-30-31-30">
                <div class="column span-three-left">
                    <div class="line-block pad-top">
                        <h2>Launch your site today</h2>
                        <h3>Create an online presence for free. A great way to learn more about site creation. </h3>
                    </div>
                </div>
                <div class="column span-three-middle">
                    <div class="line-block pad-top">
                        <h2>Quick and simple</h2>
                        <h3>If you need a small site, start here. Use any domain name you own or buy one from us. </h3>
                    </div>
                </div>
                <div class="column span-three-right">
                    <div class="line-block pad-top">
                        <h2>Build a business here</h2>
                        <h3>Grow your site as far as you want for one fixed price. Free domain name included.</h3>
                    <div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- FOOTER !-->
<footer class="clearfix">
    <div class="wrapper">
        <div class="footer-left">
            <ul>
                <li><p>© Sitejam {{ "now"|date("Y") }}.</p></li>
                <li><a href="/">Tour</a></li>
                <li><a href="/pricing">Pricing</a></li>
                <li><a href="https://basekit.zendesk.com">Support</a></li>
                <li><a href="/login" class="login">Login</a></li>
                <li><a href="/signup" class="signup">Signup</a></li>
            </ul>
        </div>
        <div class="footer-right">
            <ul>
                <li><a href="/privacy">Privacy</a></li>
                <li><a href="/terms-and-conditions">Terms &amp; Conditions</a></li>
                <!-- <li><a href="https://twitter.com/share" class="twitter-share-button" data-dnt="true" data-count="none" data-via="twitterapi">Tweet</a></li> -->
            </ul>
        </div>
    </div>
</footer>

<!-- CONTENT END !-->
</div>

{% endblock %}
