{% extends "layout.twig" %}

{% block content %}

<div class="login-signup">

<div class="form-wrapper form-login">
    <div class="form-pos">
        <a href="/"><img src="{{asset('/images/logo-wht.png')}}"></a>
        {{widget('resetpassword', 'resetpassword', {})}}
        <p class="clearfix"><a href="/sign-up" class="signup-btn">Return to <span>Login</span> page.</a></p>
    </div>
</div>

</div>


{% endblock %}