{% extends "layout.twig" %}

{% block content %}

<div class="login-signup">

<div class="w-container container-login">
    <a href="/" class="logo-wht"><img src="{{asset('/images/logo-wht.png')}}"></a>
    {{widget('userregistration', 'userregistration', {'align': 'right'})|raw}}
    <p>Already have an account? <a href="/signup">Login here.</a></p>
</div>

</div>

{% endblock %}