{% extends "layout.twig" %}

{% block content %}

<div class="login-signup">

<div class="sitejam-form">
    <div class="form-container">
        <img class="magnify" src="{{asset('images/logo-wht.png')}}">
        <div class="main-form">
            {{widget('userregistration', 'userregistration', {'align': 'right'})|raw}}
            <p class="clearfix"><a href="/login" class="signup-btn">Já tem uma conta? <span>Acesse aqui</span>.</a></p>
        </div>
    </div>
</div>

</div>


{% endblock %}

