/* ===============================
   LESS IMPORTS
   =============================== */

@import "@{templateLocal}/css/fonts.less";
@import "@{templateLocal}/css/typography.less";
@import "@{templateLocal}/css/rescols.less";


/* ===============================
   BASIC STYLES
   =============================== */

body {
    /*background-color: #ccc;*/
    /*margin: 0;*/
    margin: 0;
    padding: 0;
}

.content {
    margin: 0 auto;
    width: 100%;
    max-width: 1700px;
    min-width: 1024px;
    background-color: #fff;
    height: 100%;
}

.wrapper {
    width: 80%;
    margin: 0 10%;
    &.sml {
        width: 70%;
        margin: 0 15%;
    }
}

/* CLEARFIX */

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}

img {
    max-width: 100%;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

fieldset {
    margin: 0;
    padding: 0;
    border: 0;
}

a {
    font-family: 'effra';
    color: @color-swatch4;
    text-decoration: none;
    &:hover {
        -webkit-transition: 0.2s;
        -moz-transition: 0.2s;
        transition: 0.2s;
        color: @color-swatch2;
    }
}


/* ===============================
   CUSTOM LESS 
   =============================== */

.border-radius(@radius) {
    -webkit-border-radius:  @radius;
    -moz-border-radius: @radius;
    border-radius:      @radius;
}

.box-sizing {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.bg-cover {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.divider {
    display: block;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #e1e1e1;
    margin: 4em 0;
}


/* ===============================
   BUTTONS / LINKS
   =============================== */

a {
    &.btn {
        font-family: 'effra';
        text-transform: uppercase;
        padding: 14px 20px;
        color: @color-swatch1;
        font-size: 15px;
        letter-spacing: 2px;
        -webkit-box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.05);
        box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.05);
        &.pink {
            background-color: @color-swatch3;
            &:hover {
                box-shadow: inset 0 0 0 2px @color-swatch3, 4px 4px 0px 0px rgba(0, 0, 0, 0.05);
                -webkit-box-shadow: inset 0 0 0 2px @color-swatch3, 4px 4px 0px 0px rgba(0, 0, 0, 0.05);
                background-color: transparent;
                color: @color-swatch3;
            }
        }
        &.navy {
            background-color: @color-swatch7;
            &:hover {
                box-shadow: inset 0 0 0 2px @color-swatch7, 4px 4px 0px 0px rgba(0, 0, 0, 0.05);
                -webkit-box-shadow: inset 0 0 0 2px @color-swatch7, 4px 4px 0px 0px rgba(0, 0, 0, 0.05);
                background-color: transparent;
                color: @color-swatch7;
            }
        }
        &.lrg {
            padding: 26px 66px;
            font-size: 20px;
            -webkit-font-smoothing: antialiased;
            -webkit-box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.05);
            box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.05);
        }
    }
    &.text-link {
        font-family: 'tradegothic';
        font-size: 18px;
        border-bottom: 1px solid @color-swatch4;
        padding-bottom: 8px;
    }
}


/* ===============================
   RESPONSIVE QUERIES
   =============================== */

@tablet: ~"only screen and (max-width: 768px)";
@mobile: ~"only screen and (max-width: 479px)";
@mobileSml: ~"only screen and (max-width: 349px)";


/* ===============================
   SECTIONS
   =============================== */

.grey {
    background-color: #f2f2f2;
    padding: 6em 0;
}


/* ===============================
   HEADER
   =============================== */

header {
    background-color: #fff;
    padding: 1.5em 0;
    border-top: 7px solid @color-swatch7;
    h1 {
        position: relative;
        top: 5px;
    }
    nav {
        ul {
            float: left;
            padding: 6px 50px;
            margin: 10px 0 0;
            text-align: center;
            border-left: 1px solid #eeeeee;
            border-right: 1px solid #eeeeee;
            li {
                display: inline-block;
                margin-right: 60px;
                &:last-child {
                    margin-right: 0;
                }
                a {
                    font-family: @font-swatch6-font-family;
                    font-size: @font-swatch6-font-size;
                    text-transform: uppercase;
                    text-decoration: none;
                    color: @font-swatch6-color;
                    letter-spacing: @font-swatch6-letter-spacing;
                    &:hover {

                    }
                    &.selected {
                        color: @color-swatch2;
                    }
                }
            }
        }
    }
    ul {
        &.user-btns {
            float: right;
            padding: 14px 0;
            margin: 3px 0 0;
            li {
                display: inline-block;
                margin-left: 20px;
                &:first-child {
                    margin-left: 0;
                }
            }
        }
    }
}


/* ===============================
   FEATURE
   =============================== */

section {
    position: relative;
    &.feature {
        width: 100%;
        padding: 5em 0 0;
        background-image: image('/images/feature-bg.jpg');
        background-repeat: no-repeat;
        background-position: top center;
        .bg-cover;
        text-align: center;
        h2 {
            font-size: 44px;
            color: @color-swatch1;
            padding-bottom: .3em;
            -webkit-font-smoothing: antialiased;
        }
        h3 {
            font-family: 'tradegothic';
            font-size: 20px;
            color: #b6fdff;
            line-height: 2em;
        }
        img {
            position: relative;
            bottom: -4px;
        }

    }
}
.tabs {
    position: relative;
    font-family: 'tradegothic';
    input {
        display: none;
        &:checked + label {
            background: #255968;
            color: #FFF;
            cursor: default;
        }
    }
    label {
        font-family: 'tradegothic';
        text-align: center;
        position: relative;
        z-index: 1;
        display: inline-block;
        text-align: left;
        margin: 30px 1% 10px;
        font-size: 17px;
        line-height: 35px;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        background: #FFF;
        -webkit-border-radius: 60px;
        -moz-border-radius: 60px;
        border-radius: 60px;
        span {
            display: block;
            padding: 5px;
            -webkit-border-radius: 60px;
            -moz-border-radius: 60px;
            border-radius: 60px;
            &:hover {
                background: #255968;
                color: #FFF;
            }
        }
        span span {
            padding: 0 20px;
            background: transparent;
            -webkit-transition: background 0.5s ease;
            -moz-transition: background 0.5s ease;
            -o-transition: background 0.5s ease;
            transition: background 0.5s ease;
            -webkit-border-radius: 60px;
            -moz-border-radius: 60px;
            border-radius: 60px;
        }
    }
        ul {
            list-style: none;
            position: relative;
            display: block;
            h4 {
                font-size: 20px;
                color: #ff6890;
            }
            p {
                font-family: @font-swatch6-font-family;
                font-size: @font-swatch6-font-size;
                color: @font-swatch6-color;
            }
            &.browser {
                background: #255968;
                -webkit-border-top-left-radius: 6px;
                -webkit-border-top-right-radius: 6px;
                -moz-border-radius-topleft: 6px;
                -moz-border-radius-topright: 6px;
                border-top-left-radius: 6px;
                border-top-right-radius: 6px;
                width: 63%;
                height: 510px;
                min-width: 850px;
                margin: 30px auto 0;
            }
            li {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                padding: 25px 0 0;
                opacity: 0;
                -webkit-transition: background 0.65s ease;
                -moz-transition: background 0.65s ease;
                -o-transition: background 0.65s ease;
                transition: background 0.65s ease;
            }
            span {
                &:before {
                    content: "\00b0";
                    float: left;
                    font-size: 22px;
                    margin: 8px 2px;
                    color: #03c4cb;
                    font-weight: 200;
                }
                &:first-child:before {
                    margin-left: 12px;
                }
            }
            .magnify { 
                    float: left;
                    left: -74px;
                    top: 102px;
            }
            .call-out {
                float : left;
                text-align: left;
                left: 15px;
                width: 250px;
                padding: 30px;
                margin-top: 150px;
                position: relative;
                border-radius: 8px;
                -webkit-box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 1);
                -moz-box-shadow:    inset 0px 1px 0px 0px rgba(255, 255, 255, 1);
                box-shadow:         inset 0px 1px 0px 0px rgba(255, 255, 255, 1);
                /* IE10 Consumer Preview */ 
                background-image: -ms-linear-gradient(bottom, #FFFFFF 70%, #f5f5f5 100%);
                /* Mozilla Firefox */ 
                background-image: -moz-linear-gradient(bottom, #FFFFFF 70%, #f5f5f5 100%);
                /* Opera */ 
                background-image: -o-linear-gradient(bottom, #FFFFFF 70%, #f5f5f5 100%);
                /* Webkit (Safari/Chrome 10) */ 
                background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.7, #FFFFFF), color-stop(1, #f5f5f5));
                /* Webkit (Chrome 11+) */ 
                background-image: -webkit-linear-gradient(bottom, #FFFFFF 70%, #f5f5f5 100%);
                /* W3C Markup, IE10 Release Preview */ 
                &:before {
                    left: -40px;
                    top: 50%;
                    border: solid transparent;
                    content: " ";
                    height: 0;
                    width: 0;
                    position: absolute;
                    pointer-events: none;
                    border-color: rgba(255, 255, 255, 0);
                    border-right-color: #FFF;
                    border-width: 20px;
                    margin-top: -20px;
                }
            } /* close callout */
        } /* close ul */            
} /* close tabs */

.tabs > .content1:checked ~ ul > .content1,
.tabs > .content2:checked ~ ul > .content2,
.tabs > .content3:checked ~ ul > .content3 {
    position: relative;
    z-index: 1;
    opacity: 1;
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    transform: none;
}
.tabs > .content1:checked ~ ul > .content1 {
    background-image: image('/images/feature-tab-bg1.jpg');
    background-repeat: no-repeat;
    background-position: bottom left;
    min-width: 100%;
    height: 485px;      
}
.tabs > .content2:checked ~ ul > .content2 {
    background-image: image('/images/feature-tab-bg1.jpg');
    background-repeat: no-repeat;
    background-position: bottom left;
    min-width: 100%;
    height: 485px;      
}
.tabs > .content3:checked ~ ul > .content3 {
    background-image: image('/images/feature-tab-bg1.jpg');
    background-repeat: no-repeat;
    background-position: bottom left;
    min-width: 100%;
    height: 485px;      
}

/* ===============================
   INTRO
   =============================== */

section {
    &.intro {
        .intro-blocks {
            text-align: center;
        }
        .line-block {
            background-image: image('/images/gradline-down-sml.png');
            background-repeat: no-repeat;
            background-position: top center;
        }
        .pad-top {
            padding-top: 7em;
        }
    }
}


/* ===============================
   SIGNUP BAR
   =============================== */

.signup-bar {
    clear: both;
    padding: 7em 0;
    text-align: center;
    span {
        font-family: 'effra';
        color: #91a4ab;
        font-size: 22px;
        font-style: italic;
        margin-left: 30px;
        -webkit-font-smoothing: antialiased;
        a {
            font-size: 22px;
            border-bottom: 1px solid @color-swatch4;
            padding-bottom: 8px;
            font-style: normal;
            margin-left: 3px;
            &:hover {
                border-bottom: 1px solid @color-swatch2;
            }
        }
    } 
}


/* ===============================
   DESIGNS / DEVICES
   =============================== */

section {
    &.designs-devices {

        /* DESIGNS */
        .designs {
            .template-slider {
                background: #fff;
                .border-radius(5px);
                max-width: 536px;
                padding: 0;
                margin: 5em 0 0; 
                -webkit-box-shadow: 0 0 60px rgba(0, 0, 0, 0.08);
                box-shadow: 0 0 60px rgba(0, 0, 0, 0.08);
                .controls {
                    margin-left: 8px;
                    height: 16px;
                    span {
                        display: inline-block;
                        width: 4px;
                        height: 4px;
                        margin: 0 -1px 4px 0;
                        .border-radius(50%);
                        border: 1px solid @color-swatch4;
                        vertical-align: middle;
                    }
                }
                .slides {
                    .slide {
                        background-repeat: no-repeat;
                        background-position: top center;
                        min-height: 372px;
                        &.one {
                            background-image: image('/images/surfandlove-slide.jpg');
                        }
                    }
                }
            }
        }
        /* DEVICES */
        .devices {
            padding: 6em 0 0;
            background-image: image('/images/device-bg.jpg');
            background-repeat: no-repeat;
            background-position: right top;
            .tabs-2 {
                position: relative;   
                min-height: 464px; /* This part sucks */
                clear: both;
                margin: 35px 0 0;
                .slide {
                    label {
                        padding: 8px 7px;
                        border-top: 4px solid pink;
                        position: relative;
                        top: 464px;
                        display: inline-block;
                        line-height: 45px;
                        width: 50%;
                        float: left;
                        text-align: center;
                        background: #2b5460;
                        color: white;
                        .box-sizing;
                    }
                    [type=radio] {
                        display: none;    
                    }
                    .tab-content {
                        position: absolute;
                        transition: all 0.75s ease;
                        left: -400px;
                        width: 100%;
                        padding: 0;
                        opacity: 0;
                        height: 100%;
                        &.sml {
                            width: 70%;
                            margin: 0 15%;
                        }
                        h4, p {
                            max-width: 40%;
                        }
                        h4 {
                            margin-top: 60px;
                        }
                        img {
                            position: absolute;
                            bottom: 0;
                        }
                    } /* end tab-content */
                } /* end slide */
            } /* end tabs-2 */
        } /* end devices */
    }
}

[type=radio]:checked ~ label {
  z-index: 2;
  background: #1e4652;
}
[type=radio]:checked ~ label ~ .tab-content {
  z-index: 1;
  opacity: 1;
  left: 0;
}

/* ===============================
   WIDGETS
   =============================== */

section {
    &.widgets-website {

        .widgets {
            padding: 6em 0;
            ul {
                &.widget-blocks {
                    margin: 5em 0 0;
                    li {
                        position: relative;
                        display: inline-block;
                        float: left;
                        border-bottom: 1px solid @color-swatch1;
                        box-shadow: inset 1px 0 0 #fff;
                        -webkit-box-shadow: inset 1px 0 0 #fff;
                        width: 33.333%;
                        min-width: 178px;
                        min-height: 178px;
                        background-repeat: no-repeat;
                        background-position: center 50px;
                        span {
                            position: absolute;
                            bottom: 0;
                            width: 100%;
                            display: block;
                            padding: 10px 0;
                            font-family: 'tradegothic';
                            font-size: 15px;
                            text-align: center;
                            color: #fff;
                            box-shadow: inset 1px 0 0 #fff;
                            -webkit-box-shadow: inset 1px 0 0 #fff;
                        }
                        /* COLOURS */
                        &.pink {
                            background-color: @color-swatch3;
                            span {
                                background-color: #e86084;
                            }
                        }
                        &.navy {
                            background-color: @color-swatch7;
                            span {
                                background-color: #10262d;
                            }
                        }
                        &.blue {
                            background-color: @color-swatch4;
                            span {
                                background-color: #01c0c6;
                            }
                            .view-all {
                                line-height: 168px;
                                vertical-align: middle;
                                text-align: center;
                                a {
                                    color: @color-swatch1;
                                    font-size: 18px;
                                    border-bottom: 1px solid #4ddbe0;
                                    padding-bottom: 6px;
                                    &:hover {
                                        border-bottom: 1px solid;
                                    }
                                }
                            }
                        }
                        /* ICONS */
                        &.maps {
                            background-image: image('/images/icons/ic-maps.svg');
                        }
                        &.gallery {
                            background-image: image('/images/icons/ic-gallery.svg');
                        }
                        &.form {
                            background-image: image('/images/icons/ic-form.svg');
                        }
                        &.slideshow {
                            background-image: image('/images/icons/ic-slideshow.svg');
                        }
                        &.columns {
                            background-image: image('/images/icons/ic-columns.svg');
                        }
                        &.nav {
                            background-image: image('/images/icons/ic-nav.svg');
                            background-position: center 55px;
                        }
                        &.twitter {
                            background-image: image('/images/icons/ic-twitter.svg');
                            background-size: 52px;
                        }
                        &.facebook {
                            background-image: image('/images/icons/ic-facebook.svg');
                            background-size: 21px;
                        }
                    }
                }
            }
        }
        .website {
            .video-block {
                margin: 3.5em 0 0;
            }
            img {
                box-shadow: 0 0 20px rgba(0,0,0,0.1);
                webkit-box-shadow: 0 0 20px rgba(0,0,0,0.1);
            }
            a {
                vertical-align: top;
                position: relative;
                top: 2em;
                left: 2em;
            }
            ul {
                li {
                    display: inline-block;
                    vertical-align: top;
                    width: 40%;
                    margin-right: 10%;
                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }
    }
}


/* ===============================
   QUICK SIGNUP
   =============================== */

section {
    &.quick-signup {
        padding: 4em 0;
        form {
            fieldset {
                .inputset {
                    position: relative;
                    display: inline-block;
                    width: 24%;
                    margin-right: 1%;
                    background-color: #fff;
                    padding: 13px 20px;
                    label {
                        font-family: 'effra';
                        font-size: 18px;
                        color: @color-swatch4;
                    }
                    input {
                        display: inline-block;
                        width: 64%;
                        border: 0;
                        font-family: 'caecilia';
                        font-size: 16px;
                        line-height: 28px;
                        color: @color-swatch5;
                    }
                }
                .form-submit {
                    border: 0;
                    width: 15%;
                    padding: 19px 0;
                    background-color: @color-swatch4;
                    font-family: 'effra';
                    font-size: 18px;
                    text-align: center;
                    color: #fff;
                    cursor: pointer;
                }
            }
        }
    }
}


/* ===============================
   FOOTER
   =============================== */

footer {
    background-color: @color-swatch7;
    padding: 45px 0;
    .footer-left {
        float: left;
    }
    .footer-right {
        float: right;
    }
    p {
        font-size: 14px;
        color: #406d7a;
        line-height: 28px;
    }
    ul {
        li {
            display: inline-block;
            float: left;
            line-height: 28px;
            margin-left: 30px;
            &:first-child {
                margin-left: 0;
            }
            a {
                font-family: 'tradegothic';
                font-size: 14px;
                color: #8eb1bb;
                &:hover {
                    color: #b1dbe7;
                }
                &.login {
                    color: #fff;
                    &:hover {
                        color: @color-swatch4;
                    }
                }
                &.signup {
                    color: #fff;
                    &:hover {
                        color: @color-swatch3;
                    }
                }
            }
        }
    }
}














