<!-- FOOTER INCLUDE  !-->
<footer class="clearfix">
    <div class="wrapper">
        <div class="footer-left">
            <ul>
                <li class="tabShow"><p>&copy; Sitejam {{ "now"|date("Y") }}.</p></li>
                <li><a href="/">Tour</a></li>
                <li><a href="/pricing">Precios</a></li>
                <li><a href="https://basekit.zendesk.com">Suporte</a></li>
                <li><a href="/login" class="login">Entrar</a></li>
                <li><a href="/pricing" class="signup">Registrarse</a></li>
            </ul>
        </div>
        <div class="footer-right">
            <ul>
                <li><a href="/privacy">Privacidad</a></li>
                <li><a href="/terms-and-conditions">Términos y condiciones</a></li>
                <li class="tw-share"><a href="https://twitter.com/_sitejam" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Sigue @_sitejam</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></li>
                <li class="tweet1">{{widget('tweet', 'tweetthis', {'linkText': 'Tweet'})|raw}}</li>
                <li class="tabHide"><p>&copy; Sitejam {{ "now"|date("Y") }}.</p></li>
            </ul>
        </div>
    </div>
</footer>