<!-- HEADER INCLUDE !-->

<header class="clearfix">
    <div class="wrapper">
        <div class="left">
            <h1 class="logo"><a href="/" title="Criar um site"><img src="{{asset('/images/logo.png')}}"></a></h1>
        </div>
        <nav class="nav-desktop">
            <ul>
                <li><a href="/" class="selected">Tour</a></li>
                <li><a href="/preços">Preços</a></li>
            </ul>
        </nav>
        <nav class="nav-mob">
            <div id="dl-menu" class="dl-menuwrapper">
                <button class="dl-trigger dl-active">Menu Aberto</button>
                <ul class="dl-menu">
                    <li><a href="/" class="selected">Tour</a></li>
                    <li><a href="/preços">Preços</a></li>
                </ul>
            </div>
        </nav>
        <div class="right clearfix">
            <ul class="user-btns">
                <li><a href="/preços" class="btn pink signup">Criar Conta</a></li>
                <li><a href="/acessar" class="btn navy login">Acessar</a></li>
            </ul>
        </div>
    </div>
</header>