<!-- HEADER INCLUDE !-->

<header class="clearfix">
    <div class="wrapper">
        <div class="left">
            <h1 class="home"><a href="/" title="Create a website"><img src="{{asset('/images/logo.png')}}"></a></h1>
        </div>
        <nav class="nav-desktop">
            <ul>
                <li><a href="/" class="selected">Tour</a></li>
                <li><a href="/precios">Precios</a></li>
            </ul>
        </nav>
        <nav class="nav-mob">
            <div id="dl-menu" class="dl-menuwrapper">
                <button class="dl-trigger dl-active">Menú abierto</button>
                <ul class="dl-menu">
                    <li><a href="/" class="selected">Tour</a></li>
                    <li><a href="/precios">Precios</a></li>
                </ul>
            </div>
        </nav>
        <div class="right clearfix">
            <ul class="user-btns">
                <li><a href="/precios" class="btn pink signup">Registrarse</a></li>
                <li><a href="/entrar" class="btn navy login">Entrar</a></li>
            </ul>
        </div>
    </div>
</header>