<!-- HEADER INCLUDE !-->

<header class="clearfix">
    <div class="wrapper">
        <div class="left">
            <h1><a href="/" title="Create a website"><img src="{{asset('/images/logo.png')}}"></a></h1>
        </div>
        <nav class="nav-desktop">
            <ul>
                <li><a href="/" class="selected">Tour</a></li>
                <li><a href="/pricing">Pricing</a></li>
            </ul>
        </nav>
        <nav class="nav-mob">
            <div id="dl-menu" class="dl-menuwrapper">
                <button class="dl-trigger dl-active">Open Menu</button>
                <ul class="dl-menu">
                    <li><a href="/" class="selected">Tour</a></li>
                    <li><a href="/pricing">Pricing</a></li>
                </ul>
            </div>
        </nav>
        <div class="right clearfix">
            <ul class="user-btns">
                <li><a href="/sign-up" class="btn pink signup">Signup</a></li>
                <li><a href="/login" class="btn navy login">Login</a></li>
            </ul>
        </div>
    </div>
</header>